*{
  margin: 0;
  padding: 0;
}
body{
  display: grid;
  place-items: center;
}

.bounching {
  animation: bounce 1.5s infinite alternate;
}

@keyframes bounce {
  to {
    transform: translateY(100vh);
  }
}
